.timesheet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2em 1.5em;
  border-radius: 15px;
  width: 95%;
  margin: auto;
  margin-top: 5em;
}

.timesheet-header {
  margin: auto;
}

.timesheet-header mat-card-title {
  font-size: 2.3em;
}
