.timesheet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2em 1.5em;
  border-radius: 15px;
  width: 95%;
  margin: auto;
  margin-top: 5em;
}

.timesheet-header {
  margin: auto;
}

.timesheet-header mat-card-title {
  font-size: 2.3em;
}

.timesheet-footer {
  display: flex;
  margin: 0 32px;
}

.timesheet-footer span:first-child {
  margin-right: 1.8rem;
  padding-right: 6rem;
}

.timesheet-footer span:last-child {
  padding-right: 4rem;
}

.timesheet-footer span {
  border-top: 1px solid #aaa;
  padding-top: 0.4rem;
}
