.content-div {
  display: flex;
  height: 100%;
  min-height: 100%;
}

.content {
  width: 100%;
  height: calc(100vh - 100px - 83px);
  overflow: hidden;
}

app-sidenav {
  width: 100%;
  max-width: 10vw;
  min-width: 120px;
  overflow: hidden;
}

@media screen and (max-width: 575px) {
  app-sidenav {
    display: none;
  }
}

.mat-mdc-tooltip.tooltip {
  color: red !important;
}
