.timesheet-entry-container {
  margin: 2em;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.timesheet-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  margin: 0 1em;
}

.timesheet-options {
  display: flex;
  gap: 0.8rem;
}

.timesheet-actions {
  margin-left: auto;
  display: flex;
  gap: 0.8rem;
}

.timesheet-actions button {
  background-color: var(--roc-color);
  border: 3px var(--roc-color) solid;
  font-size: 1em;
  color: white;
  border-radius: 20px;
  padding: 15px;
  font-weight: bold;
  white-space: nowrap;
}

.timesheet-actions .inverted-btn {
  color: var(--roc-color);
  background-color: white;
}

.timesheet-table {
  overflow-x: auto;
  overflow-y: hidden;
  border-collapse: collapse;
  display: flex;
}

.timesheet-table table {
  margin: auto;
  width: 100%;
  border-collapse: collapse;
}

.timesheet-table th {
  background-color: black;
  border: 1px black solid;
  color: white;
  padding: 13px 10px;
}

.timesheet-table tr td {
  padding: 10px;
  border: 1px #ccc solid;
  min-width: 2ch;
}

.loader {
  margin: 1rem auto;
}
