<div class="timesheet">
  <div class="timesheet-header">
    <div class="timesheet-options">
      <mat-form-field>
        <mat-label>Project Name</mat-label>
        <mat-select
          [(value)]="selected.projectId"
          (selectionChange)="
            changeTimesheet($event.value, selected.year, selected.month)
          "
        >
          <mat-option *ngFor="let project of projects" [value]="project.id">
            {{ project.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Month</mat-label>
        <mat-select
          [(value)]="selected.month"
          (selectionChange)="
            changeTimesheet(selected.projectId, selected.year, $event.value)
          "
        >
          <mat-option
            *ngFor="let month of [].constructor(12); let index = index"
            [value]="index"
          >
            {{ MONTHS[index] }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Year</mat-label>
        <mat-select
          [(value)]="selected.year"
          (selectionChange)="
            changeTimesheet(selected.projectId, $event.value, selected.month)
          "
        >
          <mat-option
            *ngFor="let year of [].constructor(5); let i = index"
            [value]="currentYear - i"
          >
            {{ currentYear - i }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="timesheet-actions">
      <button
        class="inverted-btn"
        mat-stroked-button
        (click)="exportToPDF()"
        [disabled]="isLoading || isExportingPDF"
      >
        Export to PDF
      </button>
      <button mat-button (click)="edit()" [disabled]="isLoading">
        {{ isEditing ? "Done" : "Edit" }}
      </button>
    </div>
  </div>

  <div class="timesheet-table" [class.editing]="isEditing" #pdfContent>
    <mat-spinner class="loader" *ngIf="isLoading" diameter="32"></mat-spinner>

    <table *ngIf="!isLoading">
      <thead>
        <tr>
          <th>Employee</th>
          <th *ngFor="let day of selected.dayColumns">
            {{ day }}
          </th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let employee of users;
            let rowIndex = index;
            trackBy: trackByUsername
          "
        >
          <td>{{ employee.username }}</td>

          <ng-container *ngIf="employeeHours(employee.username) as hoursArr">
            <ng-container
              *ngFor="
                let hour of hoursArr;
                let i = index;
                trackBy: trackByIndex
              "
            >
              <td>
                <span *ngIf="!isEditing">{{ hour < 0 ? "0" : hour }}</span>

                <input
                  *ngIf="isEditing"
                  type="text"
                  [value]="hour < 0 ? '0' : hour"
                  (blur)="updateHours(employee.username, i, $event)"
                  (keydown)="onKeyDown($event, rowIndex, i)"
                  min="0"
                  max="8"
                  maxlength="5"
                />
              </td>
            </ng-container>

            <td>
              {{ calculateEmployeeTotalColumn(hoursArr) }}
            </td>
          </ng-container>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <!-- so that the 'grand total' cell on the last row appear aligned on the right with the other totals -->
          <td [colSpan]="selected.dayColumns.length + 1"></td>
          <td>{{ calculateGrandTotalColumn() }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
