.timesheet {
  height: 100%;
}

.timesheet-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.timesheet-options {
  display: flex;
  gap: 0.8rem;
}

.timesheet-actions {
  margin-left: auto;
  display: flex;
  gap: 0.8rem;
}

.timesheet-actions button {
  background-color: var(--roc-color);
  border: 3px var(--roc-color) solid;
  font-size: 1em;
  color: white;
  border-radius: 20px;
  padding: 15px;
  font-weight: bold;
  white-space: nowrap;
}

.timesheet-actions button:disabled {
  opacity: 50%;
}

.timesheet-actions .inverted-btn {
  color: var(--roc-color);
  background-color: white;
}

.timesheet-table {
  display: block;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.timesheet-table table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

.timesheet-table table tr {
  min-height: 40px;
  max-height: 40px;
  height: 40px;
}

.timesheet-table th {
  background-color: black;
  border: 1px black solid;
  color: white;
  padding: 13px 10px;
}

.timesheet-table tr td {
  padding: 10px;
  border: 1px #ccc solid;
  min-width: 4ch;
}

.timesheet-table.editing tr td {
  padding: 0;
}

.timesheet-table input {
  box-sizing: border-box;
  display: block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  background-color: #f8f8f8;
  font-size: 1rem;
  text-align: center;
  border: none;
  min-width: 4ch;
  width: 4ch;
  height: 40px;
  padding: 4px;
}

.timesheet-table input:focus {
  outline-offset: 0;
  outline-width: 1px;
  outline-style: solid;
  outline-color: var(--roc-color);
  background-color: #e0a95121;
}

.timesheet-table input::-webkit-outer-spin-button,
.timesheet-table input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loader {
  margin: 1rem auto;
}

.timesheet-table tfoot tr td {
  padding: 10px;
}
