.head-bg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2rem;
  max-height: 6rem;
  color: #fff;
  background-color: #000;
}

@media screen and (max-width: 575px) {
  .head-bg {
    gap: 10px;
    flex-direction: column !important;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-left: 20px;
  }
}
